{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="ui segments">
    <div class="ui segment">
    <h4>Your links!</h4>
    </div>
    <div class="ui piled segment">
        {% for lu in listoflinks %}
            <div class="ui card">
                <img class="ui avatar image" src="https://{{lu.domain}}/favicon.ico" alt="{% static '..//static/images/defaulturl.png' %}">
                <div class="content">
                  <a class="header" href="{{lu.url}}">{{lu.name}}</a>
                  <div class="meta">
                    <p>{{lu.description}}</p>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock  %}